[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/vendor/opt/vimwiki"]
	path = .vim/pack/vendor/opt/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
